body {
    position: relative;
    min-height: 25em;
}
.plain {
    white-space: pre;
}
.plain * {
    white-space: pre;
}
.hiddenTextField {
    position: absolute;
    top: -1000px;
}
.expandable-panel {
    display: inline-block;
    position: relative;
}
.expandable-panel.expand,
.expandable-panel:hover {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.expandable-panel.contract:hover > .contents {
    display: none;
}
.expandable-panel.expand > .contents,
.expandable-panel:hover > .contents {
    display: inherit;
    padding-left: 1ex;
    width: 100%;
    transition: width 1s;
    -webkit-transition: width 1s;
}
.expandable-panel.contract:hover {
    display: inherit;
}
.expandable-panel.expand > .label,
.expandable-panel:hover > .label {
    display: none;
}
.expandable-panel .contents {
    display: none;
    width: 0;
    overflow: hidden;
}
.errorMark {
    color: red;
    position: absolute;
    opacity: 0.3;
}
.plain .errorMark {
    z-index: -1;
}
.error {
    color: red;
}
#globalLoad {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: lightblue;
    text-align: center;
}
.plain-headline {
    font-weight: bold;
    color: green;
}
.structure,
.selectionInfo {
    display: none;
}
.diag.structure,
.diag.selectionInfo {
    display: inherit;
}
.selectionInfo {
    border: solid green 2px;
    margin-top: 5px;
}
.structure {
    margin-top: 5px;
    border: solid orange 2px;
    white-space: pre;
    overflow: auto;
    height: 15em;
}
