/*@import "http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css";*/
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
body.leisureError > #login,
body.leisureError > #leisure_bar,
body.leisureError > * {
    display: none;
}
body.leisureError > #error {
    display: inherit !important;
}
#error {
    display: none;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    height: 100%;
}
.debug [data-shared] {
    outline: solid green 2px;
}
@font-face
{
    font-family: FranklinM54;
    src: url('../font/franklinm54-webfont.woff') format('woff');
}
.cthulhu [data-edit-mode='plain'],
/*.cthulhu,*/
body.cthulhu {
    background-color: #1c3d34;
}
.cthulhu [data-edit-mode='plain'],
[maindoc].cthulhu,
[maindoc].cthulhu .maintext,
.cthulhu,
body.cthulhu {
    color: #f1c40f;
    text-shadow: 3px 3px #000000;
}
.cthulhu ::selection {
    background: #1c3d34; /* Safari */
}
.cthulhu ::-moz-selection {
    background: #1c3d34; /* Firefox */
}
.cthulhu.slides [name=dummy_headline],
.cthulhu.slides #dummy_headline {
    height: 240px;
}
.cthulhu [data-edit-mode='fancy'], .cthulhu button {
    font-family: Inconsolata;
    font-size: 28px;
}
.cthulhu .code-buttons button, .cthulhu button.add_comment, .cthulhu .paginators button {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    background: url(images/cthulhu_button.png) no-repeat 0% 0% / 100% 100%;
    margin: 0px 5px 5px 0px;
    color: #f1c40f;
    padding: 10px 35px;
    transition: color 0.2s ease-in-out, filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}
.cthulhu .code-buttons button:hover,
.cthulhu button.add_comment:hover,
.cthulhu .paginators button:hover,
.cthulhu .code-buttons button:active,
.cthulhu button.add_comment:active,
.cthulhu .paginators button:active
{
    -webkit-filter: drop-shadow(5px 5px 5px #f1c40f);
    filter: drop-shadow(5px 5px 5px #f1c40f);
    color: #f1c40f;
    background-color: transparent;
}
.cthulhu .code-buttons button:active:hover, .cthulhu button.add_comment:active:hover, .cthulhu .paginators button:active:hover {
    filter: drop-shadow(1px 1px 1px #f1c40f);
    -webkit-filter: drop-shadow(1px 1px 1px #f1c40f);
    margin: 5px 0px 0px 5px;
}
.cthulhu button.add_comment {
    height: 60px;
}
.cthulhu td.code-buttons {
    background: transparent;
    padding: 10px;
}
.cthulhu [data-edit-mode='fancy'] [data-org-src], .cthulhu .coderesults, .cthulhu .codeexpected {
    background-color: white;
    border: solid black 2px;
    border-radius: 10px;
    color: black;
    text-shadow: none;
}
.cthulhu [data-edit-mode='fancy'] [data-org-src],
.cthulhu .coderesults,
.cthulhu .coderesults /deep/ .resultsline,
.cthulhu .codeexpected,
.cthulhu #sourceblock,
.cthulhu .ui-tooltip-content,
.cthulhu .org-plain {
    font-family: Inconsolata;
    font-size: 22px;
}
.cthulhu [data-org-test="unknown"] {
    background: url(images/cthulhu_test_white.png);
    background-size: 64px 64px;
}
.cthulhu [data-org-test="pass"] {
    background: url(images/cthulhu_test_green.png);
    background-size: 64px 64px;
}
.cthulhu [data-org-test="fail"] {
    background: url(images/cthulhu_test_red.png);
    background-size: 64px 64px;
}
.cthulhu [data-org-test] {
    border: none;
    background-color: transparent;
    display: inline-block;
    width: 64px;
    height: 64px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(3px 3px 3px #222);
    margin: 0px 3px 3px 0px;
    transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}
.cthulhu [data-org-test]:hover, .cthulhu [data-org-test]:active  {
    -webkit-filter: drop-shadow(5px 5px 5px #f1c40f);
    filter: drop-shadow(3px 3px 3px #f1c40f);
}
.cthulhu [data-org-test]:active:hover {
    -webkit-filter: drop-shadow(1px 1px 1px #f1c40f);
    filter: drop-shadow(1px 1px 1px #f1c40f);
    margin: 3px 0px 0px 3px;
}
.cthulhu .ready[data-org-test] {
    display: inline-block;
    width: 64px;
    height: 64px;
    padding: 0;
}
.cthulhu .codeborder {
    border: solid #f1c40f 2px;
    background: #20451c;
}
.cthulhu .showcomments.comments div, .cthulhu /deep/ .ast svg {
    border: solid #f1c40f 2px;
    border-radius: 10px;
    background: #20451c;
    text-shadow: none;
}
.cthulhu .ui-tooltip {
    border: solid #f1c40f 2px;
    border-radius: 10px;
    background: #20451c;
    color: #ffcc33;
}
.cthulhu [data-org-test] > * {
    display: none;
}
.cthulhu [data-org-test] {
    cursor: pointer;
}
.cthulhu.slides [data-edit-mode='fancy'][data-org-headline='1'] > .maincontent > [data-org-type='text'] > [data-org-type='headline-content'] {
    width: inherit;
    min-width: 250px;
    padding: 80px 80px;
    color: #f1c40f;
    font-family: FranklinM54, Impact;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 4px 4px #000000;
}
.cthulhu.slides .textborder {
    background: url(images/cthulhu_heading_dark.jpg) no-repeat;
    background-size: 100% 224px;
    border: solid #f1c40f 4px;
    border-radius: 10px;
}
.cthulhu .commentbox > .added, .cthulhu .commentbox > .main {
    border: none;
}
.cthulhu [name=prevSlide],
.cthulhu #prevSlide {
    left: 100px;
    top: 120px;
    padding: 20px 35px;
}
.cthulhu [name=nextSlide],
.cthulhu #nextSlide {
    right: 100px;
    top: 120px;
    padding: 20px 35px;
}
.cthulhu.bar_collapse [name=nextSlide],
.cthulhu.bar_collapse [name=prevSlide],
.cthulhu.bar_collapse #nextSlide, .cthulhu.bar_collapse #prevSlide {
    top: 75px;
}
.cthulhu /deep/ .page > .border {
    border-radius: 0;
    background: url(images/cthulhu_rising_dark.jpg) repeat-y;
}
.cthulhu .ui-slider {
    border: solid #20451c 2px !important;
    background: #f1c40f !important;
}
.cthulhu .ui-slider-handle {
    background: #20451c !important;
    border: solid #f1c40f 2px !important;
}
.cthulhu hr {
    display: none;
}
.cthulhu textarea {
    font-family: Inconsolata;
    /*font-size: large;*/
}
.cthulhu :focus {
    outline: none;
}
@font-face
{
    font-family: SpaceshipBullet;
    src: url('../font/Spaceship Bullet.woff') format('woff');
}
@font-face
{
    font-family: Inconsolata;
    src: url('../font/Inconsolata.woff') format('woff');
}

.googie [data-edit-mode='plain'],
/*.googie,*/
body.googie {
    background-color: #ecf0f1;
}
.googie.slides [name=dummy_headline],
.googie.slides #dummy_headline {
    height: 240px;
}
.googie [data-edit-mode='fancy'], .googie /deep/ .ui-button-text {
    /* font-family: SpacePatrol, SpaceshipBullet; */
    font-family: SpaceshipBullet;
    font-size: 28px;
}
.googie .code-buttons button, .googie button.add_comment, .googie .paginators button {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    background: url(images/googie_button.png) no-repeat 0% 0% / 100% 100%;
    margin: 0px 5px 5px 0px;
    color: #e4efff;
    padding: 10px 35px;
    transition: color 0.2s ease-in-out, filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}
.googie .code-buttons button:hover, .googie button.add_comment:hover, .googie .paginators button:hover,
.googie .code-buttons button:active, .googie button.add_comment:active, .googie .paginators button:active {
    -webkit-filter: drop-shadow(5px 5px 5px #4c8efb);
    filter: drop-shadow(5px 5px 5px #4c8efb);
    color: white;
    background-color: transparent;
}
.googie .code-buttons button:active:hover, .googie button.add_comment:active:hover, .googie .paginators button:active:hover {
    filter: drop-shadow(1px 1px 1px #4c8efb);
    -webkit-filter: drop-shadow(1px 1px 1px #4c8efb);
    margin: 5px 0px 0px 5px;
}
.googie button.add_comment {
    height: 60px;
}
.googie td.code-buttons {
    background: transparent;
    padding: 10px;
}
.googie [data-edit-mode='fancy'] .default-lang[data-lang] {
    border-radius: 20px;
    border: 15px solid #3868b8;
}
.googie [data-edit-mode='fancy'] .default-lang[data-lang='css'],
.googie [data-edit-mode='fancy'] .default-lang[data-lang='html'] {
    border-radius: 20px;
    border: 15px solid #ff9346;
    background-color: #ffa768;
    color: black;
}
.googie [data-edit-mode='fancy'] [data-lang='yaml'] {
    border-radius: 20px;
    border: 15px solid #666666;
}
.googie [data-edit-mode='fancy'] [data-org-src] {
    border: solid black 2px;
}
.googie [data-edit-mode='fancy'] [data-org-src],
.googie .coderesults,
.googie .coderesults /deep/ .resultsline,
.googie #sourceblock,
.googie .ui-tooltip-content,
.googie .org-plain {
    font-family: Inconsolata;
    font-size: 22px;
}
.googie .coderesults {
    background-color: white;
    border: solid black 2px;
    border-radius: 10px;
}
.googie .example {
    border: lightgray solid 5px;
    border-radius: 10px;
    padding: 10px;
}
.googie [data-org-test="unknown"] {
    background: url(images/googie_test_white.png);
    background-size: 64px 64px;
}
.googie [data-org-test="pass"] {
    background: url(images/googie_test_green.png);
    background-size: 64px 64px;
}
.googie [data-org-test="fail"] {
    background: url(images/googie_test_red.png);
    background-size: 64px 64px;
}
.googie [data-org-test] {
    border: none;
    background-color: transparent;
    display: inline-block;
    width: 64px;
    height: 64px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(3px 3px 3px #222);
    margin: 0px 3px 3px 0px;
    transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}
.googie [data-org-test]:hover, .googie [data-org-test]:active {
    -webkit-filter: drop-shadow(5px 5px 5px #4c8efb);
    filter: drop-shadow(3px 3px 3px #4c8efb);
}
.googie [data-org-test]:active:hover {
    -webkit-filter: drop-shadow(1px 1px 1px #4c8efb);
    filter: drop-shadow(1px 1px 1px #4c8efb);
    margin: 3px 0px 0px 3px;
}
.googie .ready[data-org-test] {
    display: inline-block;
    width: 64px;
    height: 64px;
    padding: 0;
}
.googie .codeborder {
    border: solid #666 8px;
}
.googie .showcomments.comments div, .googie /deep/ .ast svg {
    border: solid rgb(56, 104, 194) 8px;
    border-radius: 10px;
    background: #4c8efb;
}
.googie .ui-tooltip {
    border: solid rgb(56, 104, 194) 8px;
    border-radius: 10px;
    background: #4c8efb;
}
.googie [data-org-test] > * {
    display: none;
}
.googie [data-org-test] {
    cursor: pointer;
}
.googie.slides [data-edit-mode='fancy'][data-org-headline='1'] > .maincontent > [data-org-type='text'] > [data-org-type='headline-content'] {
    width: inherit;
    min-width: 250px;
    padding: 80px 180px;
    color: white;
    text-transform: uppercase;
}
.googie.slides .textborder {
    background: url(images/googie_headline.png) no-repeat;
    background-size: 100% 224px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.googie .commentbox > .added, .googie .commentbox > .main {
    border: none;
}
.googie .ui-slider {
    border: solid rgb(56, 104, 194) 4px !important;
    background: white !important;
    border-radius: 10px;
}
.googie .ui-slider-handle {
    background: #4c8efb !important;
    border: solid rgb(56, 104, 194) 4px !important;
    border-radius: 10px;
}
.googie [name=prevSlide],
.googie #prevSlide {
    left: 100px;
    top: 120px;
    padding: 20px 35px !important;
}
.googie [name=nextSlide],
.googie #nextSlide {
    right: 100px;
    top: 120px;
    padding: 20px 35px !important;
}
.googie.bar_collapse [name=nextSlide],
.googie.bar_collapse [name=prevSlide],
.googie.bar_collapse #nextSlide, .googie.bar_collapse #prevSlide {
    top: 75px;
}
.googie /deep/ .page > .border {
    border-radius: 0;
    background: url(images/googie_background.png) repeat-y;
}
.googie hr {
    display: none;
}
.googie textarea {
    font-family: Inconsolata;
    /*font-size: large;*/
}
.googie :focus {
    outline: none;
}
.console [data-edit-mode='plain'],
.console,
body.console {
    background-color: black;
    color: #0f0;
}
.console [data-org-test="unknown"] {
    background-color: #030;
}
.console [data-org-test="pass"] {
    background-color: #0d0;
}
.console [data-org-test="fail"] {
    background-color: #d00;
}
.console [data-org-test] {
    border: solid black 2px;
    display: inline-block;
    width: 64px;
    height: 64px;
    cursor: pointer;
}
.console [data-org-test]:hover {
    border: solid #0f0 2px;
}
.console [data-org-test]:active {
    border: solid black 2px;
}
.console [data-org-test] > * {
    display: none;
}
.console .commentbox > .added, .console .commentbox > .main {
    background-color: black;
    border: solid #0f0 1px;
}
.console [data-edit-mode='fancy'], .console button {
    font-family: Inconsolata;
    font-size: 28px;
}
.console [data-edit-mode='fancy'] [data-org-src], .console .coderesults, .console #sourceblock, .console .ui-tooltip-content, .console .org-plain {
    font-family: Inconsolata;
    font-size: 22px;
}
.console [data-edit-mode='fancy'] [data-org-src], .console .coderesults {
    background-color: black;
    border: none;
    border-radius: 0px;
}
.console [data-edit-mode='fancy'] [data-lang='yaml'] {
    background: linear-gradient(#0f0, #0a0);
}
.console [data-edit-mode='fancy'] .default-lang[data-lang] {
    background: linear-gradient(#0a0, #060);
    color: black;
}
.console [data-edit-mode='fancy'] [data-org-src]
{
    color: #0f0;
}
.console .code-buttons button, .console button.add_comment, .console .paginators button {
    background: #030;
    border: solid #0f0 1px;
    color: #0f0;
}
.console .code-buttons button:hover, .console button.add_comment:hover, .console .paginators button:hover {
    color: black;
    background-color: #0f0;
}
.console .code-buttons button:active, .console button.add_comment:active, .console .paginators button:active {
    color: #0f0;
    background-color: black;
}
.console.slides .textborder {
    background: linear-gradient(#010, #030);
    color: #0f0;
}
.console td.code-buttons {
    background: #030;
}
.console .code-content {
    background-color: #030;
    border: none;
    border-radius: 0px;
}
.console .showcomments.comments div, .console /deep/ .ast svg, .console .ui-tooltip {
    border: solid #0f0 1px;
    border-radius:0px;
    background: linear-gradient(#010, #030);
    color: #0f0;
}
.console .ui-slider {
    border: solid #0f0 1px !important;
    background: black !important;
}
.console .ui-slider-handle {
    background: #0f0 !important;
    border: solid #0f0 1px !important;
}
.console textarea {
    border: solid #0f0 1px !important;
    background: black !important;
    color: #0f0;
    font-family: Inconsolata;
    /*font-size: large;*/
}
.console /deep/ .partial-application {
    background: #0c0;
    color: black;
}
.console /deep/ .sidebar_notes {
    background: #090;
}
.console :focus {
    outline: none;
}
.console.slides hr {
    display: none;
}
.console hr {
    background: #0f0;
    height: 2px;
    border: none;
}
.console ::selection {
    background: #0d0; /* Safari */
}
.console ::-moz-selection {
    background: #0d0; /* Firefox */
}
@font-face
{
    font-family: MouseDeco;
    src: url('../font/Mouse_Deco.woff') format('woff');
}
@font-face
{
    font-family: Ciudad;
    src: url('../font/Ciudad Nueva CAPS Bold.woff') format('woff');
}
.steampunk #leisure_bar  {
    width: 0px;
    height: 0px;
}
.steampunk #leisure_rollup {
    padding: 50px 50px;
}
.steampunk #leisure_rollup button {
    background-color: #ccb271;
    border: solid black 3px;
}
.steampunk #leisure_rollup button:hover {
    background-color: #e6dcc3;
}
.steampunk #leisure_rollup button, .steampunk #leisure_theme, .steampunk #leisure_theme #themeSelect {
    display: block;
    position: relative;
    font-family: MouseDeco;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    color: black;
}
.steampunk #leisure_theme {
    background-color: transparent;
}
.steampunk #leisure_theme #themeSelect {
    display: inline-block;
}
.steampunk #leisure_grip {
    display: none;
}
.steampunk #leisure_button {
    position: fixed;
    min-height: 67px;
    height: 0px;
    width: 177px;
    top: auto;
    background-image: url(images/steampunk_leisure_button.png);
    background-repeat: no-repeat;
    background-size: 177px 67px;
    background-color: transparent;
    left: calc(50% - 89px);
    bottom: 50px;
    cursor: pointer;
    z-index: 100;
}
.steampunk #leisure_bar > button:hover, .steampunk #leisure_theme:hover {
    background-color: transparent;
}
.steampunk #leisure_button div:after {
    content: none;
}
.steampunk #leisure_bar:hover,
.steampunk #leisure_bar:active {
    height: 350px;
    transition: all 0.2s ease-in-out;
}
.steampunk #leisure_button .fa {
    display: none;
}
.steampunk #leisure_dummy {
    height: 0px;
}
.steampunk #leisure_bar {
    margin-left: auto;
    margin-right: auto;
    bottom: 15px;
    z-index: 99;
    position: fixed;
    top: auto;
    left: 0px;
    right: 0px;
    width: 400px;
    height: 0px;
    background: url(images/steampunk_wood_panel.png) no-repeat 0% 0% / 100% 100%;
}
.steampunk #leisure_rollup a {
    text-decoration: none;
}
.steampunk button[name=team_cthulhu] span,
.steampunk button#team_cthulhu span {
    vertical-align: top;
}
.steampunk button[name=team_cthulhu],
.steampunk button#team_cthulhu {
    padding: 6px 12px;
    color: #f1c40f;
    background-color: #1c7d45;
    font-family: Arial;
    font-size: 22px;
}
.steampunk button[name=team_cthulhu]:hover,
.steampunk button#team_cthulhu:hover {
    background-color: #27ae60;
}
.steampunk.slides [name=dummy_headline],
.steampunk.slides #dummy_headline {
    height: 0px;
}
.steampunk /deep/ .pagecontent {
    margin-left: 100px;
    padding: 120px 10px;
    overflow: visible;
    width: calc(100% - 240px);
}
.steampunk [data-edit-mode='fancy'][data-org-headline='1'] {
    margin-bottom: 0;
}
.steampunk [data-edit-mode='fancy'], .steampunk #loading, .steampunk /deep/ .ui-button-text {
    /*font-family: Ciudad;*/
    font-family: MouseDeco;
/*font-family: SavilleRow;*/
/*font-family: Arial;*/
}
.steampunk [data-edit-mode='fancy'] [data-lang='yaml'] {
    background-color: #ccb271;
    border: solid rgb(96, 57, 19) 2px;
}
.steampunk [data-edit-mode='fancy'] .default-lang[data-lang] {
    border: solid rgb(156, 122, 71) 2px;
    background-color: #603913;
    color: #e6dcc3;
}
.steampunk [data-edit-mode='fancy'] .default-lang[data-lang='css'],
.steampunk [data-edit-mode='fancy'] .default-lang[data-lang='html'] {
    background-color: #e6dcc3;
    color: black;
}
.steampunk [data-edit-mode='fancy'] [data-org-src] {
    border: solid rgb(156, 122, 71) 2px;
    background-color: #e6dcc3;
}
.steampunk .coderesults {
    border: solid rgb(156, 122, 71) 2px;
    background-color: #e6dcc3;
    border-radius: 10px;
}
.steampunk .comments > * {
    border: solid rgb(156, 122, 15) 2px;
    background-color: #e6dcc3;
}
.steampunk /deep/ .ast svg {
    border: solid rgb(48, 36, 71) 2px;
    background-color: #e6dcc3;
}
.steampunk.slides .currentSlide {
    margin-left: 0%;
    padding-top: 128px;
}
.steampunk [data-org-type="headline"] [data-org-type='text'] {
    color: black;
}
.steampunk [data-edit-mode='fancy'] [data-org-headline] [data-org-type='text'],
.steampunk [data-edit-mode='fancy'][data-org-headline="1"] [data-org-type='text'] {
    text-shadow: 2px 2px grey;
}
.steampunk .codeblock {
    font-family: Courier;
}
.steampunk [data-edit-mode='fancy'][data-org-headline='1'] {
    border: none;
}
.steampunk.slides [data-edit-mode='fancy'][data-org-headline='1'] > .maincontent > [data-org-type='text'] {
    top: 0px;
}
.steampunk.slides [data-edit-mode='fancy'][data-org-headline='1'] > .maincontent > [data-org-type='text'] > [data-org-type='headline-content'] {
    width: auto;
    top: 0px;
    min-height: 1em;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 66px;
    padding-right: 66px;
}
.steampunk.slides [data-edit-mode='fancy'][data-org-headline='1'] > .maincontent > [data-org-type='text'] > [data-org-type='headline-content'] {
    font-weight: bold;
    color: #702909;
}
.steampunk.slides .textborder {
    background-color: transparent;
    background: url(images/clean_rivets_fill.png) border-box no-repeat 0% 0% / 100% 100%;
    border-radius: 0;
    border-width: 46px;
    border-image: url(images/clean_rivets_bkgnd.png) 46 46;
}
.steampunk /deep/ .page > .border {
    border-radius: 0;
    border-width: 193px 178px 193px 178px;
    border-image: url(images/steampunk_border.png) 193 178 193 178;
    background: url(images/steampunk_background-faded.jpg) border-box no-repeat 0% 0% / 100% 100%;
    background-color: #A58C4D;
}
.steampunk.currentSlide /deep/ .page > .border {
    position: fixed;
    top: 0px;
}
body.bar_collapse .steampunk.currentSlide /deep/ .page > .border {
    top: 0px;
}
.steampunk.bar_collapse [name=nextSlide],
.steampunk.bar_collapse [name=prevSlide],
.steampunk.bar_collapse #nextSlide, .steampunk.bar_collapse #prevSlide {
    top: inherit;
}
.steampunk [data-org-test] .codeborder {
    border-width: 0;
    border-image: none;
    border: none;
}
.steampunk [data-org-test="unknown"] {
    background: url(images/gauge_white.png);
    background-size: 60px 60px;
}
.steampunk [data-org-test="pass"] {
    background: url(images/gauge_green.png);
    background-size: 60px 60px;
}
.steampunk [data-org-test="fail"] {
    background: url(images/gauge_red.png);
    background-size: 60px 60px;
}
.steampunk [data-org-test] {
    display: inline-block;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
}
.steampunk .ready[data-org-test] {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    transition: width 1s, height 1s, min-width 1s, min-height 1s;
    -webkit-user-select: none;
    user-select: none;
}
/*
  .steampunk .code-buttons ul {
  list-style: none;
  }
  */
.steampunk .code-buttons {
    background: none;
}
.steampunk .code-buttons button {
    background-color: #ccb271;
}
.steampunk .code-buttons button:hover {
    background-color: #e6dcc3;
}
.steampunk .results-indicator .fa, .steampunk .testcase-button .fa {
    display: none;
}
.steampunk .code-buttons button div {
    display: none;
}
.steampunk .comments-button, .steampunk .testcase-button, .steampunk .dyntoggle-button {
    height: 32px;
    width: 48px;
    background: none;
}
.steampunk .ui-slider {
    border: solid rgb(96, 57, 19) 1px !important;
    background: #e6dcc3 !important;
}
.steampunk .ui-slider-handle {
    background: #603913 !important;
    border: solid rgb(96, 57, 19) 1px !important;
}
.steampunk .dyntoggle .fa {
    display: none;
}
.steampunk [data-org-test] > * {
    display: none;
}
.steampunk [data-org-test] {
    cursor: pointer;
}
.steampunk .codeborder {
    border: transparent;
    border-radius: 0;
    border-width: 29px;
    border-image: url(images/code_border2.png) 32 32 stretch;
    background-color: #ccb271;
}
.steampunk .codeblock {
    padding: calc(29px + 3px);
}
.steampunk .code-content {
    padding-top: 0px;
}
.steampunk [name=nextSlide],
.steampunk [name=prevSlide],
.steampunk #nextSlide,  .steampunk #prevSlide {
    position: fixed;
    bottom: 50px;
    top: auto;
    width: 128px;
    height: 64px;
    border: none;
}
.steampunk [name=nextSlide],
.steampunk #nextSlide {
    right: 150px;
    background: url(images/right_hand.png) no-repeat 0% 0% / 100% 100%;
}
.steampunk [name=prevSlide],
.steampunk #prevSlide {
    left: 150px;
    background: url(images/left_hand.png) no-repeat 0% 0% / 100% 100%;
}
.steampunk [name=nextSlide] .fa,
.steampunk [name=prevSlide] .fa,
.steampunk #nextSlide .fa, .steampunk #prevSlide .fa {
    display: none;
}
.steampunk .testcase-button {
    padding: 0px 0px;
}
.steampunk [name=nextSlide] span:after,
.steampunk #nextSlide span:after {
    content: none;
}
.steampunk [name=prevSlide] span:after,
.steampunk #prevSlide span:after {
    content: none;
}
.steampunk .testcase-button {
    background-image: url(images/finger_gauge.png);
    background-color: #e6dcc3;
    background-repeat: no-repeat;
    background-size: 90px 32px;
    width: 90px;
    height: 32px;
}
.steampunk button {
    background-color: #ccb271;
    border: solid rgb(96, 57, 19) 2px;
    cursor: pointer;
    color: black;
}
.steampunk button:hover {
    background-color: #e6dcc3;
}
.steampunk .comment-button {
    background-color: #e6dcc3;
    border: solid rgb(96, 57, 19) 2px;
    height: 32px;
    padding: 4px 8px;
}
.steampunk .commentbox > .main,  .steampunk .commentbox > .added {
    border: none;
    border-radius: 2px;
}
.steampunk /deep/ .page {
/*background-color: #A58C4D;*/
}
.steampunk .results-indicator {
    background: url(images/lightbulb.png) no-repeat 0% 0% / 100% 100%;
    background-color: #e6dcc3;
    width: 48px;
    height: 48px;
    padding: 0px;
}
.steampunk .codeblock .dyntoggle:after {
    content: none;
}
.steampunk .codeblock .dyntoggle {
    background: url(images/unlink_icon.png) no-repeat 0% 0% / 100% 100%;
    display: block;
    width: 36px;
    height: 13px;
    padding: 0px;
}
.steampunk #source {
    background-color: #e6dcc3;
}
.steampunk #sourceblock, .steampunk .org-plain {
    font-family: MouseDeco;
}
.steampunk [data-org-results='dynamic'] .dyntoggle {
    background: url(images/link_icon.png) no-repeat 0% 0% / 100% 100%;
}
.steampunk .dyntoggle-button {
    width: 56px;
    padding: 0px 8px;
}
.steampunk .ui-tooltip {
    border: solid rgb(48, 36, 71) 2px;
    background: #e6dcc3;
}
.steampunk .ui-tooltip-content {
    border: none;
    background-color: #e6dcc3;
    color: brown;
    font-family: MouseDeco;
}
.steampunk .fa *:not(.login) {
    display: none;
}
.steampunk hr {
    display: none;
}
.steampunk ::selection {
    background: #a2572e; /* Safari */
}
.steampunk ::-moz-selection {
    background: #a2572e; /* Firefox */
}
/*.org-fancy body,*/
.expandable-panel:hover:not(.contract),
.expandable-panel.expand,
.leisure-searchOutputHolder,
/*body*/
[data-view=leisure-toolbar],
.flat [data-edit-mode]
{
    /*background: #CCCCCC;*/
    /*background: #F8F8F8;*/
    background: ghostwhite;
    transition: background 1s;
    -webkit-transition: background 0.25s;
}
.org-fancy body,
body {
    /*position: relative;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-family: Inconsolata;
    /*font-size: large;*/
}
.syntaxhighlighter .ui-slider {
    left: inherit !important;
    right: inherit !important;
    top: inherit !important;
    bottom: inherit !important;
}
#selectionBubble {
    display: none;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid blue 2px;
    width: 5px;
    height: 5px;
    overflow: visible;
    background-color: yellow;
}
#selectionBubble > div {
    display: none;
    white-space: nowrap;
}
.selection #selectionBubble {
    display: inherit;
}
.selection #selectionBubble:hover > div {
    display: inline-block;
}
#selectionBubble a span {
    white-space: pre;
}
#selectionBubble a[aria-haspopup='true'] span::after {
    content: '    ';
}
#topCaretBox {
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 5px;
    /*outline: solid red 3px;*/
}
#bottomCaretBox {
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 5px;
    /*outline: solid red 3px;*/
}
.org-fancy .block {
    display: block !important;
}
.org-fancy .inline {
    display: inline !important;
}
.org-fancy .inline-block {
    display: inline-block !important;
}
.org-fancy .syntaxhighlighter {
    overflow: hidden !important;
    margin: 0 0 0 0 !important;
    background-color: rgba(255,255,255,0.66) !important;
}
.org-fancy [data-property-hidden='true'],
.org-fancy .hidden-slide,
.slides .hidden-slide {
    display: none;
}
[data-edit-mode='plain'] {
    display: block;
}
.org-fancy [data-edit-mode='plain'] [data-property-hidden='true'],
.show-hidden [data-property-hidden='true'],
.show-hidden .hidden-slide {
    display: inherit;
}
#leisure_bar {
    font-size: 0px;
    display: block;
    width: 100%;
    height: 45px;
    background-color: #666666;
    position: fixed;
    z-index: 9999;
}
#leisure_dummy {
    position: relative;
    width: 0px;
    height: 45px;
}
.bar_collapse #leisure_dummy {
    height: 0px;
}
[data-edit-mode='fancy'] [data-shared='code'] {
    display: inline-block;
    vertical-align: top;
}
[data-edit-mode='fancy'] [data-lang='yaml'] {
    border: 0px;
    background-color: #999999;
    color: black;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
[data-edit-mode='fancy'] [data-org-type='meat'] {
    white-space: normal;
    /*display: block;*/
}
[data-edit-mode='fancy'] .meat-break {
    display: block;
    height: 0;
}
[data-edit-mode='fancy'] [data-block=chunk],
[data-edit-mode='fancy'] .meat-text {
    min-height: 1em;
}
[data-edit-mode='fancy'] .meat-text.blank {
    min-height: 1em;
    display: block;
}
[data-edit-mode='fancy'] .default-lang[data-lang] {
    border: 0px;
    background-color: dodgerblue;
    color: white;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    vertical-align: top;
}
[data-edit-mode='fancy'] [data-org-src]
{
    color: black;
}
.error {
    color: red;
    font-weight: bold;
    white-space: pre;
}
.view {
    white-space: normal;
}
[name=dummy_headline],
#dummy_headline {
    position: relative;
    width: 0px;
    height: 0px;
}
.slides [name=dummy_headline],
.slides #dummy_headline {
    height: 122px;
}
.slides hr.first, .slides hr.last, .slides hr.inner {
    display: none;
}
.slides #panel {
    /*
      position: absolute;
      */
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#leisure_rollup {
    vertical-align: top;
    display: inline-block;
    top: 0px;
    height: 60px;
}
#leisure_bar button, #leisure_theme {
    vertical-align: top;
    display: inline-block;
    top: 0px;
    height: 45px;
    background-color: #111111;
    border-radius: 0px;
    text-align: center;
    color: white;
    font-family: Arial;
    /*font-size: x-large;*/
    font-size: large;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 0px;
    margin-left: 2px;
    transition: background-color 0.2s;
}
#leisure_bar button:hover, #leisure_theme:hover {
    background-color: #333333;
}
#leisure_bar button#leisure_grip {
    margin: 0px;
    padding: 8px 4px;
}
#leisure_theme {
    margin-left: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    height: 35px;
}
#themeSelect {
    /*font-size: large;*/
    outline: none;
}
#leisure_bar button div {
    display: inline-block;
}
#leisure_button div {
    font-style: italic;
}
#leisure_button div:after {
    content: 'LEISURE';
}
#leisure_grip i.fa-angle-left, .bar_collapse #leisure_grip i.fa-angle-right {
    color: #ccc;
    display: inline;
}
.bar_collapse #leisure_grip i.fa-angle-left, #leisure_grip i.fa-angle-right {
    display: none;
}
.bar_collapse #leisure_button, .bar_collapse #leisure_rollup {
    display: none;
}
.bar_collapse #leisure_grip {
    opacity: 0.25;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.bar_collapse #leisure_bar {
    width: 0px;
    height: 0px;
}
.bar_collapse #panel {
    top: 0px;
}
[data-org-type="meat"]:empty {
    height: 0px;
}
#saveButton div:after {
    content: 'Save';
}
#hide-show-button div:after {
    content: 'Shown';
}
#hide-show-button span:after {
    content: 'Hidden';
}
button[name=team_cthulhu],
button#team_cthulhu  {
    right: 0%;
    position: absolute;
    color: #f1c40f;
    font-style: italic;
    text-decoration: none;
    /*
    padding-left: 20px;
    padding-right: 20px;
    */
    background-color: #1c7d45;
    background-image: none;
}
[name=team_cthulhu] img,
#team_cthulhu img {
    width: 24px;
    height: 24px;
    padding-right: 4px;
}
button[name=team_cthulhu]:hover,
button#team_cthulhu:hover {
    background-color: #27ae60;
}
#panel {
    padding-top: 2px;
    /* top: 45px; */
    /*position: relative;*/
}
[name=nextSlide],
[name=prevSlide],
#nextSlide, #prevSlide {
    top: 80px;
    z-index: 999;
}
[name=nextSlide],
#nextSlide {
    right: 50px;
}
[name=prevSlide],
#prevSlide {
    left: 50px;
}
.slides.lastSlide [name=nextSlide],
body.slides.lastSlide #nextSlide {
    display: none;
}
.slides.firstSlide [name=prevSlide],
body.slides.firstSlide #prevSlide {
    display: none;
}
.bar_collapse [name=nextSlide],
.bar_collapse [name=prevSlide],
.bar_collapse #nextSlide, .bar_collapse #prevSlide {
    top: 35px;
}
.slides [data-org-headline="0"] > div:first-child > .codeblock {
    display: none;
}
.slides .currentSlide {
/*    margin-left: 20%;*/
    margin-left: 100px;
/*padding-top: 167px;*/
}
[data-edit-mode='fancy'] {
    font-family: Arial;
}
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}
#loading-message {
    vertical-align: middle;
}

[maindoc] {
    white-space: pre-wrap;
    outline: none;
}
.ui-tooltip {
    white-space: pre-wrap;
}
.collapsed > [data-org-type="text"] {
    display: inline;
}
.collapsed > * {
    display: none;
}
.collapsed > [data-org-type="text"]:after {
    content: '...';
}
.collapsed > [data-org-type="text"]:last-child:after {
    content: '... (EMPTY)';
}
.commentbox {
    position: relative;
}
.commentbox > img {
    position: absolute;
}
.commentbox > div {
    min-height: 50px;
    margin-left: 50px;
    padding: 5px;
    display: inline-block;
}
.commentbox > .main {
    border: solid green 1px;
}
.commentbox > .added {
    border: solid blue 1px;
}
/* fancy org mode stuff  */
.hidden {
    display: none !important;
}
.boundary {
    white-space: pre-wrap;
}
.codeblock {
    min-height: 64px;
    display: inline-block;
    position: relative;
    padding: 0px;
}
.codeborder {
    position: absolute;
    border: solid black 2px;
    border-radius: 10px;
    background: lightgray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.codename .name {
    padding-left: 2px;
    font-weight: bold;
    font-style: normal;
}
.codename {
    padding-left: 2px;
    font-style: italic;
}
.code-content {
    padding: 10px 20px;
}
.codewrapper {
    white-space: pre-wrap;
    position: relative;
    vertical-align: middle;
    border-spacing: 0px;
}
[data-edit-mode='fancy'] [data-org-src] {
    border-radius: 10px;
    padding: 3px;
    background: cornsilk;
    display: block;
    vertical-align: middle;
}
.testcase-button div {
    display: inline-block;
}
.results-indicator div {
    display: inline-block;
}
.codeblock .dyntoggle:after {
    content: 'Unlinked';
}
[data-org-results='dynamic'] .dyntoggle:after {
    content: 'Linked';
}
.codeblock:not([data-org-results='dynamic']) .dyntoggle .fa-link {
    display: none;
}
[data-org-results='dynamic'] .dyntoggle .fa-unlink {
    display: none;
}
.dyntoggle .fa {
    padding-right: 10px;
}
.org-num:hover {
    outline: solid gray 2px;
}
[data-edit-mode='fancy'] [data-org-src] {
    padding-right: 20px;
    border: solid gray 2px;
    min-width: 200px;
    position: relative;
}
.coderesults {
    border: solid blue 2px;
    min-width: 100px;
    min-height: 22px;
    height: 100%;
    display: block;
    margin-top: 10px;
    padding: 3px;
}
[data-org-results="def"] .coderesults,
[data-org-results="def"] .results-buttons {
    display: none;
}
.resultscontent {
    white-space: pre;
}
.comments {
    position: relative;
    overflow: visible;
    vertical-align: top;
    display: none;
}
.showcomments.comments {
    display: inline-block;
    z-index: 1;
}
.comments > * {
    position: absolute;
    padding: 5px;
    background: white;
    border-radius: 10px;
    border: solid gray 2px;
    margin-left: 5px;
}
.commentbox {
    width: 400px;
}
*::x-new-comment {
    width: calc(100% - 8px);
    min-width: 400px;
}
[data-org-src] {
    height: 100%;
}
.code-buttons {
    vertical-align: top;
    white-space: nowrap;
    padding: 0px;
    background: #666666;
}
.code-buttons ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-align: right;
    cursor: pointer;
}
.code-buttons button {
    border-radius: 0px;
    background: #333333;
    height: 80px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 2px;
}
.code-buttons button:hover {
    background-color: #666666;
}
.fluff {
    min-height: 1.5em;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #2980b9;
    transition: background-color 0.2s ease-in-out;
}
button:hover {
    background-color: #3498db;
}
.ast-button {
    position: absolute;
    /*margin-top: 5px;*/
    right: 5px;
    width: 16px;
    height: 16px;
    background-image: url(ast-small.png);
    cursor: pointer;
}
.ast-button.showing {
    right: auto;
    left: calc(100% - 16px);
}
.ast-button > * {
    position: absolute;
    left: 20px;
    z-index: 1000;
}
* /deep/ .ast svg {
    position: relative;
    top: 24px;
    left: -300px;
    z-index: 1000;
    padding: 15px;
    background: white;
    border: solid black 2px;
    border-radius: 10px;
}
* /deep/ .showcomments.ast {
    display: inline-block;
}

#nwSaveButton {
    display: none;
}
.not-logged-in #leisure_bar,
.not-logged-in #leisure_dummy,
.not-logged-in #panel,
#login,
.loading.not-logged-in #login {
    display: none;
}
.not-logged-in #login {
    display: block;
}
.comment-button[data-org-commentcount="0"] span:after {
    content: "0";
}
.comment-button {
    font-weight: bold;
    /*font-size: large;*/
    height: 36px;
    width: 72px;
}
.comment-button div {
    display: inline-block;
    padding-left: 6px;
}
.comment-button.new-comments span {
    color: #e74c3c;
    position: relative;
}
* /deep/ .page > .border {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border: solid black 2px;
    border-radius: 10px;
    z-index: -1;
}
.currentSlide /deep/ .page > .border {
    position: fixed;
}
* /deep/ .currentSlide > .border {
    border: none;
}
* /deep/ .pagecontent {
    padding: 10px 10px;
    overflow: visible;
}
.currentSlide /deep/ .pagecontent {
    padding: 10px 100px 0px 10px;
}
.slides [data-edit-mode='fancy'][data-org-headline='1'] {
    margin-bottom: 0;
    padding: 0;
    padding-top: 0;
}
[data-edit-mode='fancy'][data-org-headline='1'] {
    margin-bottom: 8px;
    padding: 8px;
    position: relative;
}
#loading,
[data-edit-mode='fancy'][data-headline='1'] > .maintext,
[data-edit-mode='fancy'][data-org-headline='1'] > .maincontent > [data-org-type='text'] {
    font-size: 2em;
    position: relative;
}
[data-edit-mode='fancy'][data-org-headline='1'] > .maincontent > [data-org-type='text'] {
    display: block;
}
[data-edit-mode='fancy'] [data-org-headline] > [data-org-type='text'] {
    display: block;
}
.slides,
body.loading, body.slides {
    position: absolute;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.slides [data-edit-mode='fancy'][data-org-headline='1'],
.slides .textborder,
#loading-message .textborder {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#loading-message .headline-content,
.slides .headline-content {
    display: table-cell;
    vertical-align: middle;
}
.headline-content,
[data-org-type="headline-content"] {
    display: inline;
    white-space: normal;
}
.slides [data-org-headline='1'] > .maincontent > [data-org-type='text'] > [data-org-type='headline-content'] {
    display: inline-block;
}
.slides [data-edit-mode='fancy'][data-org-headline='1'] > .maincontent > [data-org-type='text'] {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 45px;
    text-align: center;
    z-index: 10;
}
.bar_collapse.slides [data-edit-mode='fancy'][data-org-headline='1'] > .maincontent > [data-org-type='text'] {
    top: 0px;
}
.slides [data-edit-mode='fancy'][data-org-headline='1'] > .maincontent > [data-org-type='text'] > [data-org-type='headline-content'] {
    display: table;
    margin: auto;
    width: 100%;
    top: 40%;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
/* color: white; */
}
[data-org-headline='1'] > table {
    width: 100%;
}
#loading-message {
    display: table;
    margin: auto;
    top: 35%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    border-radius: 5px;
    background-color: #368ee0;
}
[name=nextSlide],
[name=prevSlide],
#nextSlide, #prevSlide {
    cursor: pointer;
    position: fixed;
}
[name=nextSlide] span:after,
#nextSlide span:after {
    content: 'Next';
}
[name=prevSlide] span:after,
#prevSlide span:after {
    content: 'Prev';
}
.slides .textborder {
    position: absolute;
    background: #2c3e50;
    border: none;
    border-radius: 2px;
    z-index: -1;
    background: linear-gradient(#34495e, #2c3e50);
}
[data-edit-mode='fancy'] [data-leisure-data] {
    display: none;
}
[data-edit-mode='fancy'] [data-org-headline='2'] > [data-org-type='text'] {
    font-size: 1.5em;
}
[data-edit-mode='fancy'] [data-org-headline='3'] > [data-org-type='text'] {
    font-size: 1.17em;
}
[data-edit-mode='fancy'] [data-org-headline='4'] > [data-org-type='text'] {
}
.slides .slideholder {
    display: none;
}
.slides .currentSlide.slideholder {
    display: block;
}
.slides #sourceblock {
    display: none;
}
#sourceblock, .org-plain {
    position: relative;
    padding: 10px 10px;
}
#source {
    padding: 5px 5px;
}
.slides .tags {
    display: none;
}
.codewrapper > tbody > tr {
    vertical-align: top;
}
[data-edit-mode='fancy'] [data-org-html="true"] {
    white-space: normal;
}
.code-buttons .testcase-button div:before {
    content: 'Collapse';
    font-weight: bold;
}
.code-buttons .comment-button div:before {
    content: ' Comments';
    font-weight: bold;
}
.code-buttons .results-indicator div:before {
    content: 'Evaluate';
    font-weight: bold;
}
:focus {
    outline: none;
}
* /deep/ .sidebar {
/*
  float: right;
  */
}
[data-org-floats="true"] {
    height: 0px;
}
* /deep/ .sidebarholder {
    vertical-align: top;
}
* /deep/ .sidebar.float {
    float: right;
}
[data-org-note-content] {
    padding: 10px;
}
.float_note {
    background: #FFFF66;
    /* position: fixed !important; */
    width: 100%;
    height: 100%;
}
.float_title {
    background: #FFFF66;
    border: solid black 1px;
}
* /deep/ .sidebar_notes {
    background: #FFFF66;
    border: none;
    padding: 10px;
}
.toggle_edit,
.create_note {
    user-select: none;
}
.slides .toggle_edit,
.slides .create_note,
* /deep/ .sidebar_notes .maincontent .create_note {
    display: none;
}
h2.note_drag_handle {
    margin: 0px;
    cursor: all-scroll;
}
.paginators {
    display: none;
}
.slides .paginators {
    display: inline-block;
}
i.fa + div, i.fa + span, i.fa + div + span {
    padding-left: 10px;
}
* /deep/ .slideshadow {
    width: 100%;
}
.slideholder {
    position: relative;
}
* /deep/ .slidemain {
    vertical-align: top;
}
/*
 * /deep/ .slideshadowrow > td > * {
 height: 100%;
 }
 * /deep/ .sidebar {
 position: relative;
 width: 200px;
 }
 */
/* styles for flat theme */
.flat .codeblock {
    background: #666666;
    border-radius: 4px;
    color: white;
    background: linear-gradient(#666666, #333333);
}
.flat .code-content {
    color: black;
}
.flat .code-buttons {
    background: linear-gradient(#666666, #333333);
}
.flat .example {
    border: lightgray solid 5px;
    padding: 10px;
}
.flat [data-edit-mode='fancy'] [data-org-src],
.flat .coderesults,
.flat .coderesults /deep/ .resultsline,
.flat #sourceblock,
.flat .ui-tooltip-content,
.flat .org-plain, .flat  /deep/ .ui-button-text {
    font-family: Arial;
}
.flat [data-edit-mode='fancy'] .import span {
    display: inline-block;
    border: solid gray 2px;
    border-radius: 5px;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
}
.flat [data-edit-mode='fancy'] .import span:before {
    content: 'Import: ';
}
.flat [data-edit-mode='fancy'] .default-lang[data-lang], .flat [data-edit-mode='fancy'] [data-lang='yaml'] {
    padding: 0;
}
.flat [data-edit-mode='fancy'] .default-lang[data-lang='css'],
.flat [data-edit-mode='fancy'] .default-lang[data-lang='html'] {
    padding: 0;
    background-color: #ffa768;
    color: black;
}
.flat .codeHeading {
    padding: 5px;
    display: inline-block; 
    font-weight: bold;
}
.flat [data-edit-mode='fancy'] [data-org-src] {
    border: none;
    border-radius: 0;
}
.flat.slides [data-edit-mode='fancy'][data-org-headline='1'] td > [data-org-type='text'] > [data-org-type='headline-content'] {
    color: white;
}
.flat [data-edit-mode='fancy'] [data-org-src], .flat .coderesults /deep/ {
    background: white;
    border-radius: 4px1;
    color: black;
    border: none;
}
.flat [data-org-test="unknown"] {
    background: url(images/untested.png) no-repeat 0% 0% / 100% 100%;
    background-position: center;
    height: 64px;
    width: 64px;
}
.flat [data-org-test="pass"] {
    background: url(images/checkmark.png) no-repeat 0% 0% / 100% 100%;
    background-position: center;
    height: 64px;
    width: 64px;
}
.flat [data-org-test="fail"] {
    background: url(images/failure.png) no-repeat 0% 0% / 100% 100%;
    background-position: center;
    height: 64px;
    width: 64px;
}
.flat [data-org-test] {
    display: inline-block;
    width: 60px;
    height: 60px;
    min-width: 60px;
    padding: 10px;
    margin: 4px;
    transition: width 1s, height 1s;
    -webkit-user-select: none;
    user-select: none;
}
.flat /deep/ .page > .border {
    border: none;
}
* /deep/ .flat.ast svg {
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    background: linear-gradient(#34495e, #2c3e50);
}
.flat [data-org-test] > * {
    display: none;
}
.flat [data-org-test] {
    cursor: pointer;
}
.flat [name=nextSlide],
.flat [name=prevSlide],
.flat #nextSlide, .flat #prevSlide {
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: Arial;
    font-size: 20px;
    background: #368ee0;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    cursor: pointer;
    background: none;
    border: solid rgb(255, 255, 255) 2px;
    color: #fff;
    outline: none;
}
.flat [name=nextSlide]:hover,
.flat [name=prevSlide]:hover,
.flat #nextSlide:hover, .flat #prevSlide:hover {
    background-color: #549cde;
    border: solid rgb(54, 142, 224) 2px;
    color: white;
    background: #368ee0
}
.flat .comments div {
    background: #2c3e50;
    background: linear-gradient(#34495e, #2c3e50);
    border: none;
    border-radius: 5px;
}
.flat .comments > textarea {
    border: none;
    border-radius: 2px;
}
.flat .commentbox > * {
    border: none;
    color: white;
    border-radius: 2px;
}
.flat .code-buttons button {
    border-radius: 0px;
    background: #999999;
}
.flat .code-buttons button:hover {
    background: #333333;
}
.flat .code-buttons > div:first-child button {
    margin-top: 0;
}
.flat.slides hr {
    display: none;
}
.flat .dyntoggle {
    font-weight: bold;
}
.flat #source {
    background-color: #eeeeee;
}
.flat :focus {
    outline: none;
}
/* styles for Leisure output */
body /deep/ .partial-application {
    display: inline-block;
    border-radius: 5px;
    border: black 2px solid;
    background: lightgray;
    font-weight: bold;
}
body /deep/ .resultsline > * {
    vertical-align: middle;
    margin-bottom: 0.25em;
}
/* styles for flat login look and feel */
#login.flat, #loading.flat  {
    font-family: Arial;
}
.flat #login_bg {
    background: #CCCCCC;
    padding-bottom: 20px;
    text-align: center;
}
.flat #login_header {
    margin: 0px;
    padding: 50px;
    font-size: 3em;
    text-align: center;
    background: #2c3e50;
    background: linear-gradient(#34495e, #2c3e50);
    color: white;
}
.flat .box {
    position: relative;
    /* left: 25%; */
    width: 50%;
    padding: 10px;
    border: solid black 0px;
    border-radius: 5px;
    background: #368ee0;
    color: white;
    display: inline-table;
    max-width: 550px;
}
.flat #local {
    background: #2ecc71;
    min-width: 308px;
}
.flat.login h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}
.flat.login h2 i, .flat.login h2 span {
    vertical-align: middle;
}
.flat.login h3 {
    margin: 15px 10px 5px 10px;
}
.flat input:not(.btn) {
    border: none;
    padding: 5px;
    border-radius: 4px;
    font-size: 18px;
}
.flat.login table {
    /* text-align: right; */
    margin: auto;
}
.flat.login table td {
    width: 110px;
}
.flat.login p {
    margin: 10px;
}
.flat #loading {
    display: block;
    margin-left:auto;
    margin-right:auto;
    background: #2c3e50;
    background: linear-gradient(#34495e, #2c3e50);
    color: #ffffff;
}
.btn {
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #434647;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}
.btn:hover {
    outline: none;
    background: #616161;
    text-decoration: none;
}
.expected-hover {
    white-space: nowrap;
}
body .ui-tooltip {
    max-width: none;
}
[data-draggable] {
    position:fixed !important;
    width:auto;
    height:auto;
    z-index: 10000;
}
table[data-org-headline='1'] {
    width: 100%;
}
[data-headline] .maintext {
    font-weight: bold;
}
.leisure-editor:not(.slides) [data-headline='1'] > .maintext {
    color: blue;
    font-size: 175%;
}
[data-headline='2'] > .maintext {
    color: darkgoldenrod;
    font-size: 150%;
}
[data-headline='3'] > .maintext {
    color: purple;
    font-size: 125%;
}
[data-headline='4'] > .maintext {
    color: red;
}
[data-headline='5'] > .maintext {
    color: green;
}
[data-headline='6'] > .maintext {
    color: magenta;
}
.code-doc {
    font-weight: bold;
    font-style: italic;
}
.loader {
    text-align: center;
    height: 100px;
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: white;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -webkit-transform: translateY(-21px);
    }
}
@-moz-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -moz-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -moz-transform: translateY(-21px);
    }
}
