$pfebk
doc.local
old
*~
/node_modules/node-inspector
/node_modules/coffee-script
/node_modules/coffeeify
/node_modules/browserify
/node_modules/xmlhttprequest
/node_modules/source-map
/node_modules/underscore
/node_modules/socket.io
/repl-port
/tmp/
/local
/node_modules/statify
