*~
/packages/leisure/build/node_modules
/packages/leisure/build/tmp
/packages/npm
/private/test
/local
/METEOR-OLD/packages/leisure/build/node_modules
/METEOR-OLD/packages/leisure/build/tmp
/METEOR-OLD/packages/npm
/METEOR-OLD/private/test
/METEOR-OLD/test
/METEOR-OLD/local
Thumbs.db
/.sourcecodex
/public/dice
/public/tmp
/METEOR-OLD/public/dice
/METEOR-OLD/public/tmp
/build/node_modules
