# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

*.xml text
*.js text
.meteor/packages eol=lf
.meteor/release eol=lf
joinPath eol=lf
client/12-browser.js binary
lib/12-yaml.js binary
packages/leisure/build/lib/browser.js binary
packages/leisure/build/lib/browserMain.js binary
packages/leisure/build/lib/browserMain.map binary
packages/leisure/build/lib/yaml.js binary
*.lorg text
