body.cthulhu {
  background-image: url(Cthulhu_Rising_by_somniturne.jpg);
  background-repeat: no-repeat;
  color: yellow;
}

.cthulhu .codeExpr {
  font-family: 'Audiowide', cursive;
  font-style: italic;
  font-weight: bold;
  margin: 3px;
}
.cthulhu .codeMain {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  padding: 5px;
}
.cthulhu .codeMain:hover {
  border: yellow solid 2px;
  margin: -2px;
}

.cthulhu .output {
  border: green solid 2px;
  margin: 3px;
  left-margin: 10px;
  display: inline-block;
  padding: 5px;
}
.cthulhu .output span {
  vertical-align: top;
}
.cthulhu .codeMainExpr {
  vertical-align: top;
  margin: 0;
  padding: 5px;
  margin: 0;
  display: inline-block;
  font-family: 'Audiowide', cursive;
}
.cthulhu .codeMainExpr:hover {
  border: green solid 2px;
  margin: -2px;
}

.cthulhu .codeMainTest {
  vertical-align: top;
  margin: 0;
  padding: 5px;
  margin: 0;
  display: inline-block;
  border: green solid 1px;
  min-width: 30px;
  min-height: 30px;
}

.cthulhu .codeMainTest * {
  display: none;
}
.cthulhu .codeMainTest.white {
  background-image: url(testCaseWhite.png);
  background-repeat: no-repeat;
}
.cthulhu .codeMainTest.green {
  background-image: url(testCaseGreen.png);
  background-repeat: no-repeat;
}
.cthulhu .codeMainTest.red {
  background-image: url(testCaseRed.png);
  background-repeat: no-repeat;
}

.cthulhu .codeName {
  color: blue;
  font-family: 'Audiowide', cursive;
  font-weight: bold;
  margin: 3px;
}
.cthulhu .codeBody {
  font-family: 'Audiowide', cursive;
  font-style: italic;
  font-weight: bold;
  margin: 3px;
}


.cthulhu .codeMainTest.white {
  border: 0px;
  background-image: url(tiny_cthulhu_white.png);
  background-repeat: no-repeat;
}
.cthulhu .codeMainTest.green {
  border: 0px;
  background-image: url(tiny_cthulhu_yellow.png);
  background-repeat: no-repeat;
}
.cthulhu .codeMainTest.red {
  border: 0px;
  background-image: url(tiny_cthulhu_red.png);
  background-repeat: no-repeat;
}

.cthulhu .LeisureFunc {
  background: green;
}

.cthulhu .LeisureArg {
  background: brown;
}

