body {
  border: 0;
  padding: 0;
  margin: 0;
}

.leisure-notebook {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.leisure-notebook-holder {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.noselect, .noselect * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[leisurecode] {
  white-space: pre-wrap;
}

.LeisureFunc {
  background: #fcc;
}

.LeisureArg {
  background: #ccf;
}


.leisure_bar {
  min-height: 28px;
  background-image: url(leisure_bar.gif);
  background-repeat: no-repeat;
  color: black;
  position: fixed;
  z-index: 100;
  width: 100%;
  white-space: normal;
}

.leisure_space {
  height: 32px;
}

.focused .leisure_bar_contents {
  display: block;
}

.leisure_bar_contents {
  display: none;
}

.leisure_bar {
  display: inline-block;
  width: 135px;
}

.focused .leisure_bar {
  display: block;
  width: 100%;
}

.leisure_bar span.passed, .leisure_bar span.failed, .leisure_bar span.notrun {
  font-weight: bold;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid black 2px;
}

.leisure_bar span.notrun {
  background: #fff;
}

.leisure_bar span.passed {
  background: #8f8;
}

.leisure_bar span.failed {
  background: #f88;
}

.leisure_load {
  padding-left: 200px
}

.leisure_theme {
  padding-left: 100px
}

.codeMain {
  position: relative;
  overflow: visible;
}

.astbutton {
  position: absolute;
  top: 0;
  right: -28px;
  background: url(ast.png) no-repeat;
  width: 24px;
  height: 24px;
}

.hidingSource {
  position: relative;
}

.hidingSource .controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hidingSource .controls *, .hidingSource .controls + * {
  display: none;
}

.sourceToggle {
  background: url(hideSource.png) center;
  width: 34px;
  height: 26px;
  display: block;
}

.hidingSource .sourceToggle {
  background: url(viewSource.png) center;
  width: 34px;
  height: 26px;
  display: block;
}

.codeMainExpr {
  position: relative;
}
