body {
  border: 0;
  padding: 0;
  margin: 0;
}

.leisure-notebook {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.leisure-notebook-holder {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.noselect, .noselect * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[leisurecode] {
  white-space: pre-wrap;
}

.LeisureFunc {
  background: #fcc;
}

.LeisureArg {
  background: #ccf;
}


.leisure_page {
  position: relative;
}

.leisure_bar {
  min-height: 28px;
  background-image: url(leisure_bar.gif);
  background-repeat: no-repeat;
  color: black;
  position: fixed;
  z-index: 100;
  width: 135px;
  /*width: 100%;*/
  white-space: normal;
  display: none;
}


.embedded .leisure_bar {
  min-height: 28px;
  background-image: url(leisure_bar.gif);
  background-repeat: no-repeat;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  white-space: normal;
}

.scroll .leisure_bar {
  display: block;
}

.scroll.focused .leisure_bar {
  width: 100%;
}

.leisure_space {
  height: 32px;
}

.scroll.focused .leisure_bar_contents
/*, .scroll .leisure_bar_contents*/
 {
  display: block;
}

.scroll .slide[leisuresection] {
  position: relative;
  margin-top: 1em;
}

.pageTitle {
  background: white;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: -webkit-calc(-0.5em - 2px);
  top: calc(-0.5em - 2px);
  z-index: 70;
}

.scroll .slide[leisuresection="Leisure Controls"] {
  position: fixed !important;
  z-index: 80;
  top: 30px;
  left: 0;
  display: block !important;
}

.slide[leisuresection="Leisure Controls"] .pageTitleHolder {
  z-index: 85;
}

.scroll .slide[leisuresection="Leisure Controls"] .pageContent {
  position: absolute;
  overflow: auto;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding-left: 2px;
}

.scroll.hideControls .slide[leisuresection="Leisure Controls"]
, .slide[leisuresection="Leisure Controls"]
{
  display: none !important;
}

.leisure_bar_contents {
  display: none;
}

.leisure_bar span.passed, .leisure_bar span.failed, .leisure_bar span.notrun {
  font-weight: bold;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid black 2px;
}

.leisure_bar span.notrun {
  background: #fff;
}

.leisure_bar span.passed {
  background: #8f8;
}

.leisure_bar span.failed {
  background: #f88;
}

.leisure_start {
  margin-left: 150px
}

.leisure_theme {
  padding-left: 10px
}

.codeMain {
  position: relative;
  overflow: visible;
}

.errorDiv {
  max-width: 600px;
  white-space: pre-wrap;
}

.outputDiv {
  margin-right: 16px; /* space for show-source button */
}

.ui-corner-all {
  padding-left: 10px;
  padding-right: 10px;
}

.fatControls {
  min-width: 72px;
}

.astbutton {
  position: absolute;
  top: 0;
  right: -28px;
  background: url(ast.png) no-repeat !important;
  width: 24px;
  height: 24px;
}

.hidingSource {
  position: relative;
}

.hidingSource .controls {
  position: absolute;
  top: 0;
  /*left: 0;*/
  right: 0;
}

.hidingSource .controls *, .hidingSource .controls + * {
  display: none;
}

.editToggle {
  background: url(edit.png) center no-repeat;
  width: 24px;
  height: 26px;
  display: block;
}

.hidingSource .editToggle {
  background: url(noedit.png) center no-repeat;
  width: 24px;
  height: 26px;
  display: block;
}

.codeMainExpr {
  position: relative;
}

.scroll .slide {
  position: relative !important;
  display: block !important;
  border: solid black 1px;
  padding: 10px;
  margin: 5px;
}

.oneSlide.scroll .slide {
  border: none;
}

.scroll .slide.continuation {
  display: none !important;
}

.slide {
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  background: white;
}

.slide .ui-button, .slide-container .ui-button {
  padding-left: 10px;
  padding-right: 10px;
}

.slide a {
  color: blue;
}

.leisureRangeNumber {
  outline: solid green 1px;
}

.slide.hidden {
  display: none;
}

.slide-controls {
  position: fixed;
  bottom: 0;
  right: 0;
}

.slide-container {
  position: relative;;
  margin: 0;
  width: 100%;
  height: 100%;
}
