.thin .codeExpr {
  font-style: italic;
  font-weight: bold;
  margin: 3px;
}
.thin .codeMain {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  margin-right: 28px;
  padding: 5px;
}
.thin .codeMain:hover {
  outline: blue solid 1px;
  margin-right: 28px;
}

.thin .output {
  border: green solid 2px;
  margin: 3px;
  left-margin: 10px;
  display: inline-block;
  padding: 5px;
}
.thin .output span {
  vertical-align: top;
}
.thin .codeMainExpr {
  vertical-align: top;
  margin: 0;
  padding: 5px;
  margin: 0;
  display: inline-block;
}
.thin .codeMainExpr:hover {
  outline: red solid 1px;
}

.thin .partialApply {
  /*text-decoration: underline;*/
  outline: solid black 1px;
}

.thin .codeMainTest {
  vertical-align: top;
  margin: 0;
  padding: 5px;
  margin: 0;
  display: inline-block;
  border: green solid 1px;
  min-width: 30px;
  min-height: 30px;
  border: 0px;
}

.thin .codeMainTest * {
  display: none;
}
.thin .codeMainTest.notrun {
  background-image: url(testCaseWhite.png);
  background-repeat: no-repeat;
}
.thin .codeMainTest.passed {
  background-image: url(testCaseGreen.png);
  background-repeat: no-repeat;
}
.thin .codeMainTest.failed {
  background-image: url(testCaseRed.png);
  background-repeat: no-repeat;
}

.thin .codeName {
  color: blue;
  font-weight: bold;
  margin: 3px;
}
.thin .codeBody {
  font-style: italic;
  font-weight: bold;
  margin: 3px;
}

