body {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

#calc {
    position: relative;
    width: 720px;
    height: 1230px;
    margin: 0;
    padding: 0;
    background: url(droid48-blank-cropped.png) fixed no-repeat;
    line-height: 49px;
}

#input, #output {
    left: 32px;
    width: 651px;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    margin: 0;
    border: none;
}

#input {
    top: 0;
    height: calc(49px * 4);
    outline: 1px solid black;
}

#inputLabel {
    display: none;
}

#outputLabel {
    display: none;
}

#output {
    top: calc(49px * 4.5);
    height: calc(49px * 2);
    outline: 1px solid green;
}

#astPanel, #simplifiedPanel {
    top: 430px;
    left: 4px;
    width: 712px;
    height: calc(810px - 430px);
    background: white;
    border-image: url(panel.png) 5px;
    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
}

#astLabel, #simplifiedLabel {
    display: none;
}

#ast, #simplified {
    width: calc(100% - 4px);
    height: 100%;
    border: none;
    padding: 2px;
}

#ast svg {
    width: 100%;
    height: 100%;
}

.calcMain .calcButton {
    position: absolute;
    border: blue solid 2px;
}
.calcMain .mode {
    width: calc(74/720*100%);
    height: calc(46/1230*100%);
}
.calcMain .function,
.calcMain .enterRow {
    width: calc(74/720*100%);
    height: calc(58/1230*100%);
}
.calcMain .enterButton {
    width: calc(194/720*100%);
    height: calc(58/1230*100%);
}
.calcMain .numbers {
    width: calc(98/720*100%);
    height: calc(55/1230*100%);
}

@media handheld, screen and (max-width: 995px) {
    body {
        /*font-size: 3vh;*/ /*calc(100vh*36/1230)*/
    }
    #input, #output {
        left: calc(32/720*100%);
        width: calc(651/720*100%);
    }
    #input {
        top: 0;
        height: calc(49 * 4 / 1230*100%);
    }
    #output {
        top: calc(49 * 4.5 / 1230 * 100%);
        height: calc(49 * 2 / 1230 * 100%);
    }
    #calc {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(droid48-blank-cropped.png) fixed no-repeat;
        background-size: 100% 100%;
        /*line-height: 4vh;*/ /*calc(49/1230*100vh)*/
    }
    #astPanel, #simplifiedPanel {
        top: calc(430/1230*100%);
        left: 4px;
        width: calc(100% - 8px);
        height: calc((810 - 430)/1230 * 100%);
    }
    .calcMain .mode {
        width: calc(74/720*100%);
        height: calc(46/1230*100%);
    }
    .calcMain .function,
    .calcMain .enterRow {
        width: calc(74/720*100%);
        height: calc(58/1230*100%);
    }
    .calcMain .enterButton {
        width: calc(194/720*100%);
        height: calc(58/1230*100%);
    }
    .calcMain .numbers {
        width: calc(98/720*100%);
        height: calc(55/1230*100%);
    }
}

/*

calc image is 720x1230

*/
.calcMain .mode.top0 {top: calc(364/1230*100%);}
.calcMain .function.top0 {top: calc(444/1230*100%);}
.calcMain .function.top1 {top: calc(545/1230*100%);}
.calcMain .function.top2 {top: calc(647/1230*100%);}
.calcMain .function.left0, .calcMain .mode.left0 {left: calc(23/720*100%);}
.calcMain .function.left1, .calcMain .mode.left1 {left: calc(143/720*100%);}
.calcMain .function.left2, .calcMain .mode.left2 {left: calc(263/720*100%);}
.calcMain .function.left3, .calcMain .mode.left3 {left: calc(383/720*100%);}
.calcMain .function.left4, .calcMain .mode.left4 {left: calc(503/720*100%);}
.calcMain .function.left5, .calcMain .mode.left5 {left: calc(623/720*100%);}
.calcMain .enterButton.top0 {top: calc(748/1230*100%);}
.calcMain .enterButton.left0 {left: calc(23/720*100%);}
.calcMain .enterRow.top0 {top: calc(748/1230*100%);}
.calcMain .enterRow.left0 {left: calc(263/720*100%);}
.calcMain .enterRow.left1 {left: calc(383/720*100%);}
.calcMain .enterRow.left2 {left: calc(503/720*100%);}
.calcMain .enterRow.left3 {left: calc(623/720*100%);}
.calcMain .numbers.left0 {left: calc(23/720*100%);}
.calcMain .numbers.left1 {left: calc(167/720*100%);}
.calcMain .numbers.left2 {left: calc(311/720*100%);}
.calcMain .numbers.left3 {left: calc(455/720*100%);}
.calcMain .numbers.left4 {left: calc(599/720*100%);}
.calcMain .numbers.top0 {top: calc(850/1230*100%);}
.calcMain .numbers.top1 {top: calc(952/1230*100%);}
.calcMain .numbers.top2 {top: calc(1053/1230*100%);}
.calcMain .numbers.top3 {top: calc(1155/1230*100%);}
